
.error-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #f44336; /* رنگ پس زمینه */
    color: white; /* رنگ متن */
    padding: 15px; /* حاشیه داخلی برای متن */
    text-align: center; /* تراز متن */
    border-radius: 5px; /* گوشه‌های گرد */
    margin: 0 auto; /* مرکز چین */
}

#span_help {
    font-size: 10px;
    color: red;
}

.delete-button {
    background-color: #ff3333; /* رنگ پس زمینه دکمه */
    color: #fff; /* رنگ متن دکمه */
    border: none; /* حذف حاشیه دکمه */
    padding: 5px 20px; /* فضای داخلی دکمه */
    border-radius: 5px; /* شکل گرد دکمه */
    cursor: pointer; /* نشانگر ماوس به شکل دست دادن */
    transition: background-color 0.3s ease; /* انیمیشن تغییر رنگ پس زمینه */
}

.delete-button:hover {
    background-color: #cc0000; /* رنگ پس زمینه هنگام نگه داشتن ماوس روی دکمه */
}

.delete-button:focus {
    outline: none; /* حذف حاشیه فوکوس بر دکمه */
}
#divNewArticle{
    max-width: 400px; margin: auto;
}
